<!-- <meta http-equiv="Refresh" content="0.5"> -->
<link rel="icon" type="image/png" href="images/icon_64.png" sizes="64x64">
<title>ChessMate Board</title>
<img id="board" src="thing.svg" width="100%" height="100%" alt="">
<script src="reloader.js" charset="utf-8"></script>
